<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.luthita.basket.dao.BasketDAO">
 	<insert id="insertBasket" parameterType="map">
 		INSERT INTO `basket`
		(
			`userId`,
			`menuId`, 
			`name`,
			`price`,
			`count`, 
			`createdAt`
		)
		VALUES
		(
			#{userId}
			, #{menuId}
			, #{name}
			, #{price}
			, #{count}
			, NOW()
		)
 	</insert>
 	<select id="selectBasketListByUserId" resultType="com.luthita.basket.model.Basket">
 		SELECT
 			`id`,
 			`userId`,
			`menuId`, 
			`name`,
			`price`,
			`count`, 
			`createdAt`
 		FROM
 			`basket`
 		WHERE
 			`userId` = #{userId}
 		
 	</select>
 	<delete id="deleteBasket" parameterType="int">
 		DELETE 
 		FROM
 			`basket`
 		WHERE
 			`id` = #{id}
 	</delete>
 	<select id="selectLastMenuId" resultType="int">
 		SELECT
 			`menuId`
 		FROM
 			`basket`
 		WHERE
 			`userId` = #{userId}
 		ORDER BY `id` DESC
 		LIMIT 1
 	</select>
 </mapper>