<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.luthita.orderedMenu.dao.OrderedMenuDAO">
	<insert id="insertOrderedMenu" parameterType="map">
		INSERT INTO `orderedMenu`
		(
			`orderId`,
			`menuId`,
			`count`, 
			`createdAt`
		)
		VALUES
		(
			#{orderId}
			, #{menuId}
			, #{count}
			, NOW()
		)
	</insert>
	<select id="selectMenuIdAndCountByOrderId" resultType="map">
		SELECT
			`menuId`,
			`count`
		FROM
			`orderedMenu`
		WHERE
			`orderId` = #{orderId}
	</select>
</mapper>