<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.luthita.order.dao.OrderDAO">
 	<insert id="insertOrder" parameterType="map">
 		INSERT INTO `order`
		(
			`storeId`,
			`userId`, 
			`payMethod`, 
			`payment`, 
			`status`,
			`orderedAt`
		)
		VALUES
		(
			#{storeId}
			, #{userId}
			, #{payMethod}
			, #{payment}
			, '주문대기'
			, NOW()
		)
 	</insert>
 	<select id="selectLastOrderId" resultType="int">
 		SELECT
 			`id`
 		FROM
 			`order`
 		WHERE
 			`userId` = #{userId}
 		ORDER BY
 			`id` DESC
 		LIMIT 1
 	</select>
 	
 	<select id="selectOrderListByUserId" resultType="com.luthita.order.model.Order">
 		SELECT
 			`id` ,
 			`storeId`,
 			`userId`,
 			`payMethod`,
 			`payment`,
 			`status`,
 			`orderedAt`
 		FROM
 			`order`
 		WHERE
 			`userId` =#{userId}
 	</select>
 </mapper>