<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.luthita.review.dao.ReviewDAO">
 	<select id="selectReviewListByStoreId" resultType="com.luthita.review.model.Review">
 		SELECT
 			`id`, 
			`storeId`,
			`userId`,
			`orderId`,
			`userName`,
			`point`,
			`review`,
			`createdAt`,
			`updatedAt`
		FROM	
			`review`
		WHERE
			`storeId` = #{storeId}
 	</select>
 	
 	<insert id="insertReview" parameterType="map">
 		INSERT INTO `review`
		(
			`storeId`,
			`userId`,
			`orderId`,
			`userName`,
			`point`,
			`review`,
			`createdAt`,
			`updatedAt`
		)
		VALUES
		(
			#{storeId}
			, #{userId}
			, #{orderId}
			, #{userName}
			, #{point}
			, #{reviewText}
			, NOW()
			, NOW()
		)
 	</insert>
 	
 	<select id="selectOrderIdList" resultType="int">
 		SELECT
 			`orderId`
 		FROM
 			`review`
 		WHERE
 			`userId` = #{userId}
 	</select>
 	
 	<select id="selectReviewCountByStoreId" resultType="int">
 		SELECT
 			count(1)
 		FROM
 			`review`
 		WHERE
 			`storeId` = #{storeId}
 	</select>
 	
 	<delete id="deleteReview" parameterType="int">
 		DELETE
 		FROM
 			`review`
 		WHERE
 			`id` = #{id}
 	</delete>
 	<select id="getPointListById" resultType="int">
 		SELECT
 			`point`
 		FROM
 			`review`
 		WHERE
 			`storeId` = #{storeId}
 	</select>
 </mapper>