@charset "UTF-8";

#wrap{width:1200px; margin:auto;}

header{height:100px; background:#2C558E;}
header .logo{width:300px;}
header .login-info{width:900px;}
footer{height: 100px;}

.sign-up-box {width:500px; background-color:#F2F2F2;}
.sign-up-subject {margin:20px; font-weight:bold;}

.login-box {width:300px;}

.container {
  width: 100%;
  height: 720px;
  
  text-align: center;
  position: relative;
}
.container::after {
  width: 100%;
  height: 100%;
  content: "";
  background: url(../images/sign_in_1.jpg);
  background-size:cover;
  background-position:center;
  position: absolute;
  z-index: -1;
  opacity: 0.5;
}
.bgImage{
	width: 100%;
 	height: 100%;
	position: relative;
	background-position:center;

}
.bgImage::after{
  width: 100%;
  height: 100%;
  background: url(../images/sign_in_1.jpg);
  background-size:100%;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content:"";
}

.bgImage2{
	width: 30%;
	position: relative;
	background-position:center;

}
.bgImage2::after{
  width: 100%;
  height: 100%;
  background: url(../images/sign_in_3.jpg);
  background-size:100%;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content:"";
}
.bgImage2_size{
	width: 40%;
	position: relative;
	background-position:center;

}
.bgImage2_size::after{
  width: 100%;
  height: 100%;
  background: url(../images/sign_in_3.jpg);
  background-size:100%;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content:"";
}

@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.fontJua{
	font-family:'BMJUA';
}
.filebox input[type="file"] { 
	position: absolute; 
	width: 1px; 
	height: 1px; 
	padding: 0; 
	margin: -1px; 
	overflow: hidden; 
	clip:rect(0,0,0,0); 
	border: 0; } 
.filebox label { 
	display: inline-block; 
	padding: .5em .75em; 
	color: #fff; 
	font-size: inherit; 
	line-height: normal; 
	vertical-align: middle; 
	background-color: #F29F05; 
	cursor: pointer; 
	border: 1px solid #ebebeb; 
	border-bottom-color: #e2e2e2; 
	border-radius: .25em; } /* named upload */ 
.filebox .upload-name { 
	display: inline-block; 
	padding: .5em .75em; /* label의 패딩값과 일치 */ 
	font-size: inherit; 
	font-family: inherit; 
	line-height: normal; 
	vertical-align: middle;
	background-color: #fff; 
	border: 1px solid #ebebeb; 
	border-bottom-color: #e2e2e2; 
	border-radius: .25em; 
	-webkit-appearance: none; /* 네이티브 외형 감추기 */ 
	-moz-appearance: none; 
	appearance: none; }
	
/* imaged preview */ 
.filebox .upload-display { /* 이미지가 표시될 지역 */ 
	margin-bottom: 5px; 
} 

@media(min-width: 768px) { 
	.filebox .upload-display { 
	display: inline-block; 
	margin-right: 5px; 
	margin-bottom: 0; 
	} 
} 

.filebox .upload-thumb-wrap { /* 추가될 이미지를 감싸는 요소 */ 
	display: inline-block;
	width: 54px; 
	padding: 2px; 
	vertical-align: middle; 
	border: 1px solid #ddd; 
	border-radius: 5px;
	background-color: #fff; 
} 
.filebox .upload-display img { /* 추가될 이미지 */ 
	display: block; 
	max-width: 100%; 
	width: 100% \9; 
	height: auto; 
}


.menuTable{
	width:800px;
}
.imageScale{
  transition: all 0.2s linear;
}
.imageScale:hover{
  transform: scale(2.4);
}
a:hover{
	color:#F2F2F2
}
.categoryBox {
    width: 100px;
    height: 100px; 
    border-radius: 70%;
}
.category {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.storeBox{
	width: 750px;
	height: 150px;
	border:4px solid #FFDEAD;
	border-radius: 30px;
	
}
.storeLogoBox{
	width:125px;
	height:125px;
}
.storeLogo{
	width: 100%;
    height: 100%;
    object-fit: cover;
    border:1px transparent;
	border-radius: 30px;
}
.floBtn1 {
  position: fixed;
  top: 400px; /* 윗쪽 끝에서부터의 거리 */
  right: 55%;
  margin-right: -683px; /* 가운데를 기준으로 오른쪽 거리 */
  z-index: 99;
  width:80px;
  height:80px;
  border:1px transparent;
  border-radius: 30px;
  background:#F29F05;
  color:#F2F2F2;
}
.basketBox{
	width:600px;
}
.orderBox{
	width:600px;
}
.textO1{color:#F29F05;}
.textO2{color:#F28705;}
.textO3{color:#F25C05;}
.textO4{color:#D93D04;}
.textGray{color:#F2F2F2;}
.textGray2{color:#777;}
.bgO0{background: #FFDEAD};
.bgO1{background:#F29F05;}
.bgO2{background:#F28705;}
.bgO3{background:#F25C05;}
.bgO4{background:#D93D04;}
.bgGray{background:#F2F2F2;}
.bgYellow{background:#ffd400;}